@import 'cart';
@import 'mixins';
@import 'footer';
@import 'productos';
@import 'cover';
@import 'header';
@import 'contact';

:root {
  --primary-color: #f5b810;
  --secondary-color: #4b54ff;
  --tertiary-color: F17A7E;
  --bg-light-color: #eeeeee;
  --bg-dark-color: #1b2526;
  --text-light-color: #F9FAF4;
  --text-dark-color: #333;
  --font-family: 'Lato', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 400 + 300;
  --font-weight-black: 900;
  --max-width: 1080px;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-light-color);
  color: #333;
  margin: 0;
  transition: .3s ease all;

  &.body-dark {
    background: rgb(39, 39, 39);
    color: rgb(238, 238, 238);
    --text-light-color: rgb(244, 236, 236);
    --text-dark-color: rgb(244, 236, 236);
    --bg-light-color: rgb(71, 70, 70);
  }
}

.root {
  background-color: inherit;
  color: inherit;
  margin: 0;
}

.main{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}